.Page_Title {
    color: #FFFBF5;
    font-family: Josefin Sans;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.45px;
    text-transform: uppercase;
}

.Or {
    color: #FFFBF5;
    font-family: Josefin Sans;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.45px;
    text-transform: uppercase;
}